anki==24.6.3
aqt==24.6.3
PyQt6==6.6.1
PyQt6-Qt6==6.6.1
PyQt6-WebEngine==6.6.0
PyQt6-WebEngine-Qt6==6.6.1
beautifulsoup4==4.12.3
requests==2.32.3

tox
pytest
pytest-qt
PyQtPath
mock

bump-my-version
GitPython
md_toc